<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12" style="background-color: blue;height: 40px;color: white;font-size: 20px;font-weight: bold;">PATIENT INFORMATION</div>
               
              </div>
              <div class="row">
                <div class="table-responsive">
                  
                
                        <div class="col-sm-12" style="background-color: blue;height: 40px;color: white;font-size: 20px;font-weight: bold;">COMPLIANT</div>
                       
                        <div><h3 style="color: black;text-align: center;"> <%=test0%></h3></div>
                </div>
              

               
              </div>
              <div class="row">
                <div class="col-sm-12">
                    <div style="color: black;font-size: 20px;font-weight: 400;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">PRESENT COMPLAIN</div>
                 

                    <div> <p><%=message%></p></div>
                    <div><p> <%=message1%></p></div>
                    <div><p> <%=test1%></p></div>
                    <div><p> <%=test2%></p></div>
                    <div><p> <%=test3%></p></div>
                    <div><p> <%=test4%></p></div>
               
                  </div>
                
              </div>
              <div class="row">
                <div class="col-sm-12" style="background-color: blue;height: 40px;color: white;font-size: 20px;font-weight: bold;">MEDICAL TREATMENT</div>
               
              </div>
              <div class="row">
                <div class="col-sm-8">
                    <div style="color: black;font-size: 20px;font-weight: 400;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">DIAGNOSE</div>
                </div>
                <div class="col-sm-4">
                    <div style="color: black;font-size: 20px;font-weight: 400;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">PRESCRIPTION</div>
                </div>
              </div>
        </div>

        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       
        </div>
      </div>
    </div>
  </div>